@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300..700&display=swap");

@font-face {
  font-family: "Themysion";
  src: url("/fonts/Themysion.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark {
  @media not print {
    @media screen {
      .dark & { @slot }
    }
  }
}

@theme {
  --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-themysion: "Themysion", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #0C2444;
  --color-secondary: #FFD4CA;
  --color-button-primary: #B3DEE2;
  --color-highlight: #E53D00;
  --color-highlight-secondary: #D6FF79;
}
